$font-color: #FFF;
$background-color: #555;
$hover-color: #000;
$active-color: #4CAF50;


body {
    margin: 0;
    box-sizing: border-box;
}

.horizental-icon-bar {
    width: 100%;
    background-color: $background-color;
    overflow: auto;

    a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: $font-color;
        font-size: 36px;

        &:hover {
            background-color: $hover-color;
        }
    }

    .active {
        background-color: $active-color;
    }
}



.verticle-icon-bar {
    width: 90px;
    background-color: $background-color;

    a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: $font-color;
        font-size: 36px;

        &:hover {
            background-color: $hover-color;
        }

    }

    .active {
        background-color: $active-color;
    }
}